.watch{
    width: 100w;
    width: 100h;

    .back{
        display: flex;
        align-items: center;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;

    }

    .video{
        width: 100%;
        width: 100%;
        object-fit: cover;
    }
}