.login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0,0,0,0)0%, rgb(0,0,0,1)100%), url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY-1200-80.jpg.webp");
    position: relative;
    .top{
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                height: 40px;
               }
               
        }
    }
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        color: white;
        
        form{
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 5px;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        input{
            border-radius: 5px;
            background-color: gray;
            color: white;
            height: 40px;
            // caret-color: black;
            // font-weight: bold;
            padding-left: 10px;
            &::placeholder{
                color: lightgrey;
            }
        }

        button{
            background-color: red;
            color: white;
            border: none ;
            cursor: pointer;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 500;
            height: 40px;
        }
        .error{
            background-color: white;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
           font-weight: bold;
           font-size: 14px;
           padding: 5px 10px;
            margin: 10px;
            // width: 50%;
        }
        span{
            
            color: lightgray;
            b{
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: red;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
          
        }
        
        }
    
}